@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata.otf);
}

* {
    font-family: Inconsolata, sans-serif;
    
}



.underline {
    text-decoration: underline;
}

.code {
    margin: 5px;
    background-color: #EBF1F8;
    font-style: italic;
    font-weight: bold;

}